.hourly-weather-list {
  overflow-y: scroll;
  height: 450px;
}

.hourly-weather-list {
  width: 500px;
}

.hourly-weather-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
}

.hourly-weather-list li div {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-weather-list li div img {
  height: 100px;
  width: 100px;
}

@media (max-width: 700px) {
  .hourly-weather-list {
    width: 100%;
  }

  .hourly-weather-list li {
    font-size: 1.2rem;
  }

  .hourly-weather-list li div img {
    height: 70px;
    width: 70px;
  }
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (the empty space around the thumb) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the thumb */
  border-radius: 6px;
  /* Rounded corners */
}

/* On hover, the thumb color */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}